  <section id="search" class="search-wrap">
    <h1>Find A Project Idea</h1>
    <form action="/ideas/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="javascript, react, data, etc...">
      <input type="submit" value="Search">
    </form>
  </section>